certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.2.0
moviepy==1.0.0
numpy==1.16.2
Pillow==8.3.2
proglog==0.1.9
pygame==1.9.5
requests==2.21.0
tqdm==4.31.1
urllib3==1.24.1
